$red : #F13864;
$blue : #4E89FF;

.form {
    border: 1px solid rgb(209, 209, 209);
    padding: 25px 5px;
    border-radius: 5px;
    .form-content {
        width: 90%;
        margin: 0 auto;
    }
    .field label {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: rgb(78, 78, 78);
    }
    .field input {
        width: 100%;
        margin: 10px 0;
        height: 40px;
        box-sizing: border-box;
    }
}
.field input.bluebutton{
    height: auto;
}
.bluebutton {
    background-color: $blue;
    padding: 10px;
    border: none;
    border: 2px solid $blue;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.bluetitle {
    color: $blue;
    font-size: 24px;
}
.flex-two {
    display: flex;
  
    div {
        width: 50%;
        margin-right: 5px;
    }
}

.selecttype{
    margin: 10px 0;
    height: 40px;
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
}
.field .field_with_errors{
    width: 100%;
}
.authlink{
    font-size: 16px;
    color:$blue;
    text-decoration: none;
}

.authtext {
    font-size: 16px;
    color: rgb(58, 58, 58);
    margin: 0;
    padding: 0;
    text-align: center;
}

.redtitle {
    color: $red;
}
.errorslist{
    list-style: none;
    li {
        color: $red;
    }
}
.redbutton {
    border: none;
background-color: $red;
color: white;
padding: 5px;
font-weight: bold;
border: 1px solid $red;
border-radius: 10px;
cursor: pointer;
}
.redbutton:hover {
    color: $red;
background-color: white;
border: 1px solid $red;
}
@media only screen and (max-width: 850px) {
    .flex-two {
        flex-direction: column;
        div {
            width: 100%;
            margin-right: 0;
        }
    }
}