.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header-products {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
}
.mostselled {
    background-color: rgb(20, 19, 19);
    grid-column: 1/4;
    img {
        width: 100%;
        position: relative;
    }
}
.hurryup-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-column: 4/6;
    h1 {
        grid-column: 1/3;
    }
}
.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.product-card{
    border: 1px solid gray;
    
    img{
        width: 100%;
        height: 25vh;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}