.header-products {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
}
.mostselled {
    background-color: rgb(20, 19, 19);
    grid-column: 1/4;
    img {
        width: 100%;
        position: relative;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.product-card{
    border: 1px solid gray;
    
    img{
        width: 100%;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}