$red : #f13864;
$blue : #4e89ff;

.nav {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 0 5px;

  .addproduct {
    font-size: 14px;
    font-weight: bold;
    color: $red;
  }

  .addproduct:hover {
    color: gray;
  }

  .signout:hover {
    color: $red;
  }
}

.nav a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.left-side,
.right-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  h1 {
    margin: 0;
  }

  .promo {
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
  }
}

.category-content a {
  float: none;
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.left-side {
  * {
    margin-right: 0;
  }

  input {
    height: 30px;
    margin-right: 0;
    border: none;
    border: 1px solid rgb(121, 121, 121);
    box-sizing: border-box;
    padding-left: 5px;
  }

  a {
    cursor: pointer;
  }

  a:focus,
  a:active,
  a:visited {
    border: none;
  }
}

.search {
  display: flex;
  align-items: center;
}

.mysearch {
  margin: 0;
  border: 1px solid rgb(121, 121, 121);
  border-left: none;
  box-sizing: border-box;
  height: 30px;
  font-weight: bold;
  padding: 0 10px;
  color: black;
  cursor: pointer;
}

.mysearch:hover {
  color: white;
  background-color: black;
}

.category {
  float: left;
  overflow: hidden;
  margin-left: 20px;
}

.nav-cat .category {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(58, 58, 58);
  padding: 15px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-cat {
  cursor: default;
}

.nav-cat:hover {
  color: gray;
}

.humberger {
  display: none;

  span {
    display: block;
    background-color: black;
    height: 4px;
    width: 30px;
    margin-bottom: 5px;
  }
}

.category-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}


/* Add a grey background color to dropdown links on hover */
.category-content a:hover {
  background-color: #ddd;
}

.category:hover .category-content {
  display: block;
}

.basket-nav {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .container {
    margin-top: 50px;
  }

  .nav-container {
    position: fixed;
    top: 0;
    height: 50px;
    border-bottom: 1px solid black;
    width: 100vw;
    background-color: white;
    z-index: 5;
  }

  .humberger {
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
    z-index: 999999;
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #f7f5fa;
    z-index: 9999;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation-name: MoveToBottom;
    animation-duration: 1s;

    .prlogo {
      font-size: 24px;
    }
  }

  .left-side,
  .right-nav {
    flex-direction: column;
  }

  .category {
    margin-left: 0;
  }

  .nav-cat {
    color: gray;
    font-size: 20px;
  }

  .category-content {
    display: block !important;
    position: relative;
    background-color: inherit;
    min-width: auto;

    a {
      text-align: center;
    }
  }
}

@keyframes MoveToBottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
