$red : #F13864;
$blue : #4E89FF;
.myorder {
    color: $red;
}
.order {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-bottom: 2px solid rgb(180, 180, 180);
    margin-bottom: 20px;
    padding-bottom: 5px;
    p {
        margin: 0;
    }

    .img {
        width: 50%;
    }
}


.order_row {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 0;
    li {
        list-style: none;
        font-size: 24px;
        color: $blue;
    }
}

.delivered {
    background-color: $blue;
    padding: 10px;
    border: none;
    border: 2px solid $blue;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.delivered:hover {

    background-color: white;
    color:  $blue;
}