$red : #F13864;
$blue : #4E89FF;
.productpage-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.left-produt {
    grid-column: 1/2;
}
.right-product {
    grid-column: 2/4;

    .pro_name {
        font-size: 24px;
        font-weight: bold;
        color:$blue ;
    }

    .pro_descr {
        width: 70%;
        font-size: 18px;
    }
}