$red : #F13864;
$blue : #4E89FF;


.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.profile_info {
    grid-column: 1/-1;

    h2 {
        margin: 0;

    }

    p {
        margin: 0;
        color: rgb(156, 156, 156);
    }
}

.profile_comment {
    
        font-weight: normal;
        padding: 10px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 10px;
}

.profile_products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    h2 {
        color: $blue;
        grid-column: 1/-1;
    }
}