$red : #F13864;
$blue : #4E89FF;


.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.profile_info {
    grid-column: 1/-1;

    h2 {
        margin: 0;

    }

    p {
        margin: 0;
        color: rgb(156, 156, 156);
    }
}

.profile_comment {
    
        font-weight: normal;
        padding: 10px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 10px;
}

.profile_products {

    h2 {
        color: $blue;
        grid-column: 1/-1;
    }
}
.profile_product-card {
display: grid;
grid-template-columns: repeat(4,1fr);
border-bottom: 2px solid rgb(185, 185, 185);
padding: 10px;
margin: 5px;
 .img {
     grid-column: 1/2;
     width: 100%;
     max-height: 30vh;
 }
}
.remove_promotion {
    background-color: #F13864;
    color: white;
    border: none;
    border: 1px solid $red;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.remove_promotion:hover {
    background-color: white;
    color: $red;
    border: 1px solid $red;
}