

<span class="price-change">
<span>
<span class="oldprice">
<%= @prod.price %>$</span> - <span class="percentage"> <%= @prod.promotion%>%</span> </span><span class="newprice"> <%= @newprice %>$</span></span>