<div>
    <i class="fas fa-star star1 star2 star3 star4 star5"></i>
    <i class="fas fa-star star2 star3 star4 star5"></i>
    <i class="fas fa-star star3 star4 star5"></i>
    <i class="fas fa-star star4 star5"></i>
    <i class="fas fa-star star5"></i>
</div>